<!DOCtype html>
<html>
        <title>Web WOL</title>
        <head>
                <link rel="icon" href="favicon.ico" />
                <h1 class="{text-align:center;}">Web wake on lan</h1>
                <br><br><br><br><br>
        </head>
        <body>
                <form action="" method="post">
                        <div class="{text-align:center;}">
                                <label for="Macaddress">Mac Address</label><input id="Macaddress" name="Macaddress" type="text" style="width:200px;height:20px;" value="00:e0:70:92:b1:4c" ><br>
                                <label for="Ipaddress">Ip Address</label><input id="Ipaddress" name="Ipaddress" type="text" style="width:200px;height:20px;" value="192.168.3.126" ><br>
                                <button type="submit">Wake Up!</button>
                        </div>
                </form>
        </body>
</html>
